<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Audio/Video</title>
</head>
<body>
	<h2>Audio | Video</h2>
	<h3>
		<u>Audio</u>
	</h3>
	<ol>
		Supported File Formats:
		<li>mp3</li>
		<li>wav</li>
		<li>ogg</li>
	</ol>
	<audio controls>
		<source src="sample.mp3" type="audio/mpeg">
	</audio>
	<br/>
	<h3>
		<u>Video</u>
	</h3>
	<ol>
		Supported File Formats:
		<li>mp4</li>
		<li>webM</li>
		<li>ogg</li>
	</ol>
	<video controls>
		<source src="sample.mp4" type="video/mp4">
	</video>
</body>
</html>