<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Semantics</title>
</head>
<body>
	<h1>HTML Semantics</h1>
	<ul>
		Non Semantic Examples:
		<li>div tag</li>
		<li>span tag</li>
	</ul>
	<ul>
		Semantic Examples:
		<li>form tag</li>
		<li>table tag</li>
	</ul>

	<br />
	<br />

	<time datetime="21-10-2023">Current Date Time</time>

	<article>
		<h2>Today's highlights</h2>
		<p>First story</p>
		<p>First story</p>
		<p>First story</p>
	</article>

	<br />
	<br />

	<h2>My last vacation memories</h2>
	<p>I have visited Germany with my friends last month. This was the
		memorable journey, and I wish to go there again.</p>
	<aside>
		<h4>Germany</h4>
		<p>Germany is bounded at its extreme north on the Jutland
			peninsula by Denmark. East and west of the peninsula, the Baltic Sea
			(Ostsee) and North Sea coasts, respectively, complete the northern
			border. To the west, Germany borders The Netherlands, Belgium, and
			Luxembourg; to the southwest it borders France.</p>
	</aside>

	<br />
	<br />

	<h2>Web Designing Tutorial</h2>
	<section>
		<h3>HTML</h3>
		<p>HTML is an acronym which stands for Hyper Text Markup Language
			which is used for creating web pages and web applications.</p>
	</section>
	<section>
		<h3>CSS</h3>
		<p>CSS stands for Cascading Style Sheets. It is a style sheet
			language which is used to describe the look and formatting of a
			document written in markup language. It provides an additional
			feature to HTML.</p>
	</section>

	<br />
	<br />


	<header>
		<h2>Welcome to abc.com</h2>
		<nav>
			<a href="https://www.google.com/">GOOGLE</a> |
			<a href="https://www.youtube.com/">YOUTUBE</a> |
			<a href="https://www.yahoo.com/">YAHOO</a> |
			<a href="https://www.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F">LINKEDIN</a>
	</nav>
	</header>
	
	<br />
	<br />
	
	<footer>
		<p>© Copyright 2023. All rights reserved. </p>  
	</footer>
</body>
</html>